html, body {
    height: 100%;
    background-color: #ffffff;
}

.cont {
    background-color: #fafafa;
}

.dropdown-menu {
    background-color: #fff;
    border: none;
}

header {
    background-color: #fff;
}

.card {
    background-color: #f9f6f0;
    border: none;
}

.hero-banner {
    background-color: #f9f6f0;
}

.contactus {
    background-color: #f9f6f0;
    margin-top: 10rem;
}